fastapi
uvicorn
python-multipart
langchain
langchain-groq
langchain_core
supabase
google-api-python-client
python-dotenv
requests
pypdf
twilio
apscheduler
pandas
python-dateutil
phonenumbers
flask
gunicorn
openpyxl